/* General */

body {
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

main {
    display: block;
    max-width: 1260px;
    padding: 1rem;
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #023047;
    text-align: center;
}

h3 {
    font-weight: normal;
}

/* Header */

header {
    background-color: #FB8500;
    padding: 2rem;
}

header .logo {
    margin: auto;
    display: block;
    height: 100%;
}

/* Navigation */

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #FB8500;
    text-align: center;
}

.navigation {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul li a {
    display: block;
    color: #023047;
    border-top: 2px solid transparent;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.navigation a:hover {
    background-color: #219EBC;
    color: #fff;
    transition: .25s;
}

.active {
    background-color: #219EBC;
    color: #fff;
}

.responsive li {
    display: block;
}

/* Hero Section */

.hero {
    position: relative;
}

.hero-image {
    max-width: 100%;
    border-radius: 1rem;
}

.hero-text {
    text-align: center;
}

.hero-cta {
    padding: 1.5rem 0;
    border-radius: 1rem;
}

.hero-cta a {
    background-color: #FB8500;
    padding: 1rem 1.5rem;
    color: #023047;
    text-decoration: none;
    border-radius: 1rem;
}

.hero-cta a:hover {
    background-color: #FB8500;
    padding: 1rem 1.5rem;
    color: #023047;
    text-decoration: none;
    border: 2px solid #023047;
    transition: .1s;
}

/* Rental Options */

.rental-options {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    max-width: 1280px;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.options {
    text-align: center;
    border: 2px solid #219EBC;
    padding: 1rem;
    height: 350px;
    border-radius: 1rem;
}

.options:hover {
    border: 3px solid #FB8500;
    height: 360px;
    transition: .25s;
    transition-timing-function: ease-in-out;
    border-radius: 1rem;
}

.options img {
    width: 250px;
    height: auto;
}

.options p {
    padding-top: .5rem;
}

/* Rental Locations */

.rental-locations {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    max-width: 1280px;
    margin: auto;
    justify-content: center;
    align-content: center;
    background-color: #FFB703;
    padding: 1rem;
    border-radius: 1rem;
}

.locations {
    text-align: center;
    padding: 1rem;
}

.locations img {
    width: 100%;
    height: auto;
}

/* Weather */

.current-weather {
    text-align: center;
}

.forecast {
    max-width: 1260px;
    display: flex;
    margin: auto;
    border: 2px solid #FB8500;
}

.forecast img {
    max-width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.day {
    display: block;
    padding: 5px;
    text-align: center;
    background-color: #FB8500;
    color: #023047;
}

.forecast-col {
    flex: 1 1 auto;
    border: 1px solid #FB8500;
}

.temp {
    display: block;
    padding: 0px 0px 15px 0px;
    text-align: center;
}

/* Maps */

.maps {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.maps iframe {
    width: 100%;
}

/* Contact Form */

form fieldset {
    max-width: 720px;
    text-align: left;
    margin: 2rem 0;
    border: 1px solid #FB8500;
    border-radius: 10px;
    padding: 0.5rem 2%;
}

form legend {
    color: #1E2A3D;
    margin: 0 1rem;
    padding: 0.5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #1E2A3D;
    font-size: .9rem;
}

form label.top .label {
    display: inline-block;
    width: 120px;
}

form label.top input,
form label.top select,
form label.top textarea {
    display: inline-block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 440px;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form input.submit, input.submit {
    border: none;
    background-color: #FB8500;
    color: #023047;
    border-radius: 1rem;
    padding: 1rem;
    width: 25px;
}

form input.submit:hover, input.submit:hover {
    background-color: #FB8500;
    padding: 1rem 1.5rem;
    color: #023047;
    text-decoration: none;
    border: 2px solid #023047;
    transition: .1s;
}

form label.top input:required {
    border-left: #219EBC solid 6px;
}

/* Reservations */

.reservation-details {
    display: grid;
    grid-template-columns: 1fr;
}

.reservation-details ul {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    padding-right: 1rem;
}

.reservation-details img {
    max-width: 100%;
}

/* Table */

table {
    font-family: 'Ubuntu', sans-serif;
    margin: 25px auto;
    width: 75%;
}

table,
th,
td {
    border-collapse: collapse;
    text-align: center;
}

table caption {
    background-color: #219EBC;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem;
    border: 1px solid #023047;
    border-bottom: none;
}

/* Getting an error with the table build and colspan so I had to create a blank row and ignore it */

.ignore {
    display: none;
}

thead tr {
    background-color: #FFB703;
    color: #023047;
    font-size: .9em;
    border: 1px solid #023047;
}

thead th {
    padding: .5rem;
    border: 1px solid #023047;
}

thead tr th:nth-of-type(2) {
    padding: .5rem 0rem;
}

tbody tr {
    background-color: #FFB703;
    border: 1px solid #023047;
}

tbody td {
    padding: .5rem;
}

tbody td {
    font-size: .8em;
    border: 1px solid #023047;
}

/* Confirmation css */

.confirmation {
    padding-top: 2rem;
    padding-bottom: 25rem;
}

/* Tours */

.history {
    display: grid;
    grid-template-columns: 1fr;
}

.history p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}

.history img {
    max-width: 100%;
}

/* Footer */

footer {
    text-align: center;
    color: #023047;
    background-color: #FB8500;
    padding: 2rem;
    margin: auto;
    font-size: .75rem;
}

.copy {
    display: inline-flex;
}

footer a {
    color: #023047;
    text-decoration: none;
}

footer a:hover {
    transition: .5s;
    color: #fff;
}