body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1 fr;
}

header, footer {
    text-align: center;
    color: #fff;
    background-color: #355464;
    padding: 15px;
    width: 100%;
  }
