body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0px 0px 5px;
    background-color: white;
    max-width: auto;
    margin: auto;
    text-align: center;
}

header img {
    width: 75px;
    height: auto;
}

main {
    display: block;
    margin: auto;
    max-width: 720px;
    align-content: center;
}

nav {
    margin: 0 auto;
    max-width: auto;
    background-color: #B4BFCD;
    text-align: center;

}

.navigation {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul li a {
    display: block;
    color: #1E2A3D;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}


.navigation a:hover {
    background-color: #F6E7A3;
    color: #1E2A3D;
    transition: .25s;
}

.responsive li {
    display: block;
}

header {
    text-align: center;
    color: #fff;
    background-color: #1E2A3D;
    padding: 5px;
    width: 100%;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #1E2A3D;
    padding: 5px;
    max-width: 1280px;
    margin: auto;
}

h1 {
    color: white;
}

h2 {
    color: #001628;
    padding: 5px 0px 0px 5px;
}

h4 {
    color: #001628;
    padding: 5px 0px 0px 5px;
    text-align: center;
}

p {
    text-align: left;
    padding: 5px 0px 0px 5px;
}

.placeholder {
    display: block;
    margin: 10px auto;
    padding: 15px;
    background-color: #5C5935;
    color: white;
    font-style: italic;
}

.copy {
    display: inline-flex;
}

.updated {
    padding: 2px;
    font-size: .9em;
    color: #99d9d9;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    transition: .5s;
    color: red;
}