@media only screen and (min-width: 60em) {

    main {
        margin: 0rem 5rem 0rem 5rem;
    }

    header img {
        max-width: 150px;
        height: auto;
        float: left;
    }

    .navigation {
        display: flex;
        max-width: 1260px;
        margin: auto;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    /* Town Cards */

    div.cards {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1280px;
        margin: auto;
    }

    div.cards section {
        display: block;
        background-color: #B4BFCD;
        padding: 0.5rem;
        border: 1px solid #6b6868;
        text-align: center;
    }

    div.cards img {
        max-width: 95%;
    }
}