@media only screen and (min-width: 42.5em) {

    header img {
        max-width: 150px;
        height: auto;
        float: left;
    }

    .navigation {
        display: flex;
        max-width: 1260px;
        margin: auto;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .responsive li {
        display: block;
    }

    /* Town Cards */

    div.cards {
        grid-template-columns: 1fr;
    }
}