@media only screen and (min-width: 42.5em) {

    header img {
        max-width: 150px;
        height: auto;
        float: left;
    }

    .navigation {
        display: flex;
        max-width: 1260px;
        margin: auto;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .responsive li {
        display: block;
    }

    /* Town Cards */

    div.cards {
        grid-template-columns: 1fr;
    }

    div.cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #B4BFCD;
        padding: 0.5rem;
        border: 1px solid #6b6868;
        text-align: center;
    }
    
    .cards section:nth-child(3) div:nth-child(odd){
        order: 2;
    }
    
    .cards section:nth-child(3) div:nth-child(odd) img {
        order: 1;
    }
}