/* General CSS */

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    max-width: 100%;
    margin: auto;
}

main {
    padding: 1rem;
}

header,
header p {
    text-align: center;
    color: #fff;
    background-color: #1E2A3D;
    padding: 5px;
    width: 100%;
}

header img {
    width: 115px;
    height: auto;
}

main img {
    max-width: 100%;
    height: auto;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #B4BFCD;
    text-align: center;

}

.navigation {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul li a {
    display: block;
    color: #1E2A3D;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}


.navigation a:hover {
    background-color: #F6E7A3;
    color: #1E2A3D;
    transition: .25s;
}

.active {
    background-color: #F6E7A3;
    color: #1E2A3D;
}

.responsive li {
    display: block;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #1E2A3D;
    padding: 5px;
    max-width: 1280px;
    margin: auto;
}

/* TOWN CARDS */


div.cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem;
    gap: 1.5rem;
}

div.cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #B4BFCD;
    padding: 0.5rem;
    border: 1px solid #6b6868;
    text-align: center;
}

div.cards img {
    max-width: 100%;
}

.cards section:nth-of-type(1) {
    order: 3;
}

.cards section:nth-of-type(2) {
    order: 1;
}

.cards section:nth-of-type(3) {
    order: 2;
}

/* FOOTER */

.copy {
    display: inline-flex;
}

.updated {
    padding: 2px;
    font-size: .9em;
    color: #B4BFCD;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    transition: .5s;
    color: #F6E7A3;
}