@media only screen and (min-width: 60em) {
    main {
        display: block;
        max-width: 720px;
    }

    header img {
        width: 115px;
        height: auto;
        float: left;
        padding: 0px 0px 0px 10px;
    }

    .navigation {
        display: flex;
        max-width: 1260px;
        margin: auto;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    body {
        text-align: left;
    }

    h4 {
        text-align: left;
    }
}