body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0px 0px 5px;
    background-color: white;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

header img {
    width: 115px;
    height: auto;
}

main {
    display: block;
    margin: auto;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #B4BFCD;
    text-align: center;

}

.navigation {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul li a {
    display: block;
    color: #1E2A3D;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}


.navigation a:hover {
    background-color: #F6E7A3;
    color: #1E2A3D;
    transition: .25s;
}

.responsive li {
    display: block;
}

header {
    text-align: center;
    color: #fff;
    background-color: #1E2A3D;
    padding: 5px;
    width: 100%;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #1E2A3D;
    padding: 5px;
    max-width: 1280px;
    margin: auto;
}

.active {
    background-color: #F6E7A3;
    color: #1E2A3D;
}

/* SUBMISSION FORM CSS */

form fieldset {
    margin: 2rem 0;
    border: 1px solid #1E2A3D;
    border-radius: 10px;
    padding: 0.5rem 2%;
}

form legend {
    color: #1E2A3D;
    margin: 0 1rem;
    padding: 0.5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #1E2A3D;
    font-size: .9rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #555;
}

form div {
    padding: 1rem 0;
}

form input.submit {
    border: none;
    background-color: #1E2A3D;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
}


/* SUBMISSION FORM CSS */

h1 {
    color: white;
    padding: 0px 0px 0px 0px;
}

h2 {
    color: #1E2A3D;
    padding: 0px 0px 0px 0px;
}

h4 {
    color: #1E2A3D;
    padding: 5px 0px 0px 5px;
    text-align: center;
}

.copy {
    display: inline-flex;
}

.updated {
    padding: 2px;
    font-size: .9em;
    color: #B4BFCD;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    transition: .5s;
    color: #F6E7A3;
}