@media only screen and (min-width: 60em) {
    main {
        display: block;
    }

    header img {
        max-width: 150px;
        height: auto;
        float: left;
    }

    .navigation {
        display: flex;
        max-width: 1260px;
        margin: auto;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    
    .hero-div {
    position: relative;
}

.hero-image {
    width: 100%;
    height: auto;
}

.current-weather {
    position: absolute;
    Top: 25px;
    Left: 50px;
    background-color: #5C5935;
    padding: 10px 25px;
}
    .current-weather p {
    text-align: left;
}
    .day {
	font-size: 1rem;
}
}