body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0px 0px 5px;
    background-color: white;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

header, header p {
    text-align: center;
    color: #fff;
    background-color: #1E2A3D;
    padding: 5px;
    width: 100%;
}

header img {
    width: 115px;
    height: auto;
}

main {
    display: block;
    margin: auto;
}

main img {
    max-width: 100%;
    height: auto;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #B4BFCD;
    text-align: center;

}

.navigation {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul li a {
    display: block;
    color: #1E2A3D;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}


.navigation a:hover {
    background-color: #F6E7A3;
    color: #1E2A3D;
    transition: .25s;
}

.responsive li {
    display: block;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #1E2A3D;
    padding: 5px;
    max-width: 1280px;
    margin: auto;
}

.hero-div {
    position: relative;
}

.hero-image {
    width: 100%;
    height: auto;
}

.current-weather {
    Top: 25px;
    Left: 50px;
    background-color: #5C5935;
    padding: 10px 25px;
    
}

.current-weather h2 {
    color: white;
}

.current-weather p {
    color: white;
    text-align: center;
}

.five-day-forecast {
    max-width: 1260px;
    display: flex;
    margin: auto;
    border-bottom: 2px solid #1A2E3D;
    border-left: 2px solid #1A2E3D;
}

.five-day-forecast img {
    max-width: 40%;
}
.day {
	display: block;
	padding: 5px;
	text-align: center;
	font-size: .75rem;
	background-color: #1E2A3D;
	color: white;
}

.forecast-col {
   flex: 1 1 auto;
   border-right: 2px solid #1A2E3D; 
}

.temp {
    display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}
h1 {
    color: white;
    padding: 0px 0px 0px 0px;
}

h2 {
    color: #1E2A3D;
    padding: 0px 0px 0px 0px;
}

h4 {
    color: #1E2A3D;
    padding: 5px 0px 0px 5px;
    text-align: center;
}

p {
    text-align: left;
    padding: 5px 0px 0px 5px;
}

.placeholder {
    display: block;
    margin: 10px auto;
    padding: 15px;
    background-color: #5C5935;
    color: white;
    font-style: italic;
}

.copy {
    display: inline-flex;
}

.updated {
    padding: 2px;
    font-size: .9em;
    color: #B4BFCD;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    transition: .5s;
    color: #F6E7A3;
}