@media only screen and (min-width: 32.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    header img {
        width: 75px;
        height: auto;
        float: left;
        padding: 0px 0px 0px 10px;
    }

      nav ul { display: flex; }
        nav ul li { flex: 1 1 100%; }
        
    body {
        text-align: left;
    }
    .center-small {
        text-align: left;
    }

    h4 {
        text-align: left;
    }

}